body {
    padding: 30px 51px;
    color: #eeeeee;
    background-color: #333333;
    max-width: 50em;
    margin: 0 auto;
    font-size:14px;
    font-family: 'Ubuntu', sans-serif;
}

p {
	line-height: 19px;
}

a {
    color: cyan;
}

img {
    max-width:100%;
    height:auto;
}

.right {
    float: right;
    text-align: right;
}

/* Header */

header {
    padding-bottom: 25px;
}

header > h1 {
    font-size: 2.3em;
    margin: 30px 0;
    width: 100%;
}

header > h2 {
    font-size: 1.3em;
}

header > h3 {
    margin-top: 32px;
    margin-bottom:0;
}

nav > li {
    list-style: none;
}

/* Post Components */

.post_body, .date, header {
    border-bottom: 1px solid white;
}

.post_header > p > a {
	text-decoration: none;
}

.date {
	margin-bottom: -7px;
	padding-bottom: 7px;
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Comments */

small {
	font-size: 12.5px;
}

.comment {
    border-bottom: 1px solid grey;
    padding-top: 15px;
}

.comment_avatar {
    float: left;
    margin: 1px 5px 0 0;
    border: 1px solid gray;
}

.comment_header {
    padding-bottom: 10px;
}

.comment_header > .username > a {
    text-decoration: unset;
    font-size: 12px;
}

.comment_child {
    width: 80%;
    margin: auto;
}

.comment_form {
    padding: 20px 0;
    border-bottom: 1px solid;
}

#id_user_name, #id_user_email, #id_comment, #comment_submit, #id_answer {
    width: 100%;
    padding: 6px;
    border: unset;
}

.md-sheet {
    padding: 0 4px 10px 0;
}

#comment_submit {
    width: 60%;
    margin-bottom: 14px;
}

.comment_question {
    padding-top: 10px;
    margin-bottom: 6px;
    line-height: 20px;
}

#id_answer {
    margin-bottom: 15px;
}

#err {
    color: red;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
}

/* Pagination */

.pagination {
    border-bottom: 1px solid;
    padding: 10px;
    height: 25px;
}

.pagination > a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: unset;
}

/* Footer */

footer {
	margin: 20px;
}

footer, .comment_form, .no_comment {
	text-align: center;
}

footer > nav > a {
	color: aquamarine;
    text-decoration: unset;
}

/* Responsive */

@media (max-width:767px) {
    .comment_avatar {
        width: 40px;
        height: 40px;
    }

    .comment_header {
        font-size: 10px;
    }

    .comment_header > .right {
        margin-bottom: 10px;
    }
    
    .comment_body {
        margin-top: 25px;
    }
}

@media (min-width:767px) {
    .comment_form > form {
        width:50%;
        margin: auto;
    }
    
    .comment_body {
        margin-left: 70px;
    }
}

/* Font Awesome */

.fab {
    font-family: 'Font Awesome 5 Brands';
}

.fa,.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa,.fas,.far,.fal,.fab {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-gitlab:before {
	content: "\f296";
}

.fa-at:before {
	content: "\f1fa";
}

.fa-rss:before {
    content: "\f09e";
}

.fa-youtube:before {
    content: "\f167";
}

.fa-mastodon:before {
    content: "\f4f6";
}

.fa-podcast:before {
    content: "\f2ce";
}

.fa-heart:before {
    content: "\f004";
}

.fa-link:before {
    content: "\f0c1";
}

/* Fonts */

/* Font Awesome Brans */
@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    src: url("./webfonts/fa-brands-400.eot");
    src: url("./webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("./webfonts/fa-brands-400.woff2") format("woff2"), url("./webfonts/fa-brands-400.woff") format("woff"), url("./webfonts/fa-brands-400.ttf") format("truetype"), url("./webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

/* Font Awesome Free */
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    src: url("./webfonts/fa-solid-900.eot");
    src: url("./webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("./webfonts/fa-solid-900.woff2") format("woff2"), url("./webfonts/fa-solid-900.woff") format("woff"), url("./webfonts/fa-solid-900.ttf") format("truetype"), url("./webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

/* Ubuntu latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url("./webfonts/ubuntu-ext.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* Ubuntu latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url("./webfonts/ubuntu.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
