{% load i18n %}

<style>.fly{height:0;visibility:hidden;}</style>

<div id="comment_form" class="comment_form">
    {% if post.comments.count != 0 %}
        <h3>{% trans "Leave a Comment" %}</h3>
    {% endif %}
    {% if com_err %}<p id="err">{{ com_err }}</p>{% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.parent }}
        <input name="question" id="id_question" type="hidden" value="{{ question.pk }}">
        {% if form.user_name %}
            <p>{{ form.user_name }}</p>
            <p>{{ form.user_email }}</p>
        {% endif %}
        <p>
            {{ form.comment }}
            <small class="right md-sheet">
                {% trans "You can use Markdown to give style to your comment" %}<br>
                <a href="https://www.markdownguide.org/cheat-sheet" target="_Blank">
                    {% trans "Markdown Cheatsheat" %}
                </a>
            </small>
            <br>
        </p>
        <p class="comment_question">
            <small>{% trans 'To write a comment please answer the question' %}</small><br>
            <b>{% trans 'Question' %}:</b> <u>{{ question.question }}</u>
        </p>
        {{ form.answer }}
        <div class="fly">
            <p>{% trans 'Please do not fill this fields if you think you are a human or any other sentient being. This is just a trap for bots.' %}</p>
            <p>{{ form.fullname }}</p>
        </div>
        <input id="comment_submit" type="submit" value="{% trans "Submit Comment" %}" />
    </form>
</div>
