{% load markdown_tags %}
{% load i18n %}

<div id="comment_{{ comment.id }}" class="comment{% if comment.parent %} comment_child{% endif %}">
    <div class="comment_header">
        <img class="comment_avatar" src="{{ comment.get_avatar }}">
        <span class="username">
            {{ comment.user_name }}
            {% if comment.user.is_superuser %} - Admin{% endif %} - 
            <a href="{{ post.get_absolute_url }}#comment_{{ comment.id }}">
                <i class="fas fa-link"></i>
            </a>
        </span>
        <span class="right">
            {{ comment.sub_time|date:"d/m/y - G:i" }}
            <a href="javascript:;" onclick="buttonClick({% if comment.parent %}{{ comment.parent.id }}{% else %}{{ comment.id }}{% endif %});">
                {% trans "Reply" %}
            </a>
        </span>
        </div>
    <div class="comment_body">
        {{ comment.comment|escape|render_md }}
    </div>
</div>
