{% load i18n %}

<div class="post_header">
    {% if request.get_full_path == "/" %}
        <h1 id="{{ post.url }}">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h1>
    {% else %}
        <h1>{{ post.title }}</h1>
    {% endif %}
    {% if post.pub_time %}
        <p class="date">{{ post.pub_time|date }}
            <span class="right">
                <a href="{{ post.get_absolute_url }}#comments">
                    {% blocktrans count count=post.comments.count %}{{ count }} Comment{% plural %}{{ count }} Comments{% endblocktrans %}
                </a>
        </span>
        </p>
        <p>
            {% for tag in post.get_tag_list %}
                {% if forloop.first %}
                {% else %} 
                {% endif %}
                    <a href="{% url 'blog:tag' %}?q={{ tag }}">
                        #{{ tag }}
                    </a> 
            {% endfor %}
        </p>
    {% endif %}
</div>
