{% extends 'base.html' %}
{% load i18n %}

{% block title %}404 | {{ block.super }}{% endblock title %}

{% block body %}
<div class="post_header">
    <h1>
        {% trans "Error 404: Page Not Found" %}
    </h1>
</div>
<div class="post_body center">
    <h3>{% trans "The page you're looking for does not exist" %}</h3>
    <h3>{% trans "Could be worst, you could get Error 418 too..." %}</h3>
</div>
{% endblock body %}
