{% extends 'base.html' %}
{% load i18n %}

{% block title %}500 | {{ block.super }}{% endblock title %}

{% block body %}
<div class="post_header">
    <h1>
        {% trans "Error 500: Server Error" %}
    </h1>
</div>
<div class="post_body center">
    <h2>{% trans "Ups, something went wrong..." %}</h2>
    <h3>
        <a href="https://gitlab.com/kofteistkofte/kofteistan.com/issues">
            {% trans "Please send an issue to me with every step you took to get this error." %}
        </a>
    </h3>
</div>
{% endblock body %}
