{% load static %}
{% load i18n %}
{% load pages %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block title %}{{ block.super }}Köfteistan{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/">
        <link href="{% static "favicon.ico" %}" rel="icon">
        <meta property="og:locale" content="{{ LANGUAGE_CODE }}">
        <meta property="og:type" content="{% if request.get_full_path == "/" %}website{% else %}article{% endif %}" />
        <meta property="og:title" content="{% block og_title %}{{ block.super }}Köfteistan{% endblock og_title %}">
        <meta name="description" content="{% block desc %}Köfteist Köfte'nin Kafasından Geçenler{% endblock desc %}">
        <meta name="keywords" content="{% block keywords %}Köfteist Köfte, Blog{{ block.super }}{% endblock keywords %}">
        <meta property="og:url" content="{% block og_url %}http://{{ request.META.HTTP_HOST }}{{ block.super }}{% endblock og_url %}">

        {% block extra_seo %}
        {{ block.super }}
        {% endblock extra_seo %}
    </head>

    <body>
        <header>
            <h1><a href="/">Köfteistan</a></h1>
            <h2>Köfteist Köfte'nin Kafasından Geçenler</h2>
            <nav>
                {% list_pages as pages %}
                {% for page in pages %}
                    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a> /
                {% endfor %}
                <a href="#footer">{% trans "Links" %}</a>
            </nav>

            {% block extra_header %}
            {% endblock extra_header %}

        </header>

        {% block body %}
        {% endblock body %}

        <footer id="footer">
            <nav>
                <a href="https://gitlab.com/kofteistkofte/"><i class="fab fa-gitlab"></i> Gitlab</a> /
                <a rel="me" href="https://mastodon.technology/@kofteistkofte"><i class="fab fa-mastodon"></i> Mastodon</a> /
                <a href="https://www.youtube.com/user/kofteistkofte/"><i class="fab fa-youtube"></i> Youtube</a> /
                <a href="mailto://kofteistkofte@gmail.com"><i class="fa fa-at"></i> Mail</a> /
                <a href="/feed/"><i class="fa fa-rss"></i> RSS</a> /
                <a href="/podcast/kernelle-sohbet"><i class="fa fa-podcast"></i> Kernelle Sohbet</a>
            </nav>
            <p>
                Köfteist Köfte'nin kafasından geçenlerle dolu nacizhane blog.
                </br><br>
                {% blocktrans with gitlab='<a href="https://gitlab.com/kofteistkofte/kofteistan.com">Gitlab</a>' %}You can see the codes of this website at {{ gitlab }}.{% endblocktrans %}<br>
                {% blocktrans with icon='<i class="fa fa-heart"></i>' %}Feel FREE to fork it. {{ icon }}{% endblocktrans %}
            </p>
        </footer>

        {% block js %}
        {{ block.super }}
        {% endblock js %}        
    </body>
</html>
