{% extends 'base.html' %}

{% load static %}
{% load markdown_tags %}
{% load i18n %}

{% block title %}
{{ post.title }} | {{ block.super }}
{% endblock title %}

{% block og_title %}{{ post.title }} | {{ block.super }}{% endblock og_title %}
{% block desc %}{{ post.desc }}{% endblock desc %}
{% block keywords %}{{ block.super }}, {{ post.keywords }}{% endblock keywords %}
{% block og_url %}{{ block.super }}{{ post.get_absolute_url }}{% endblock og_url %}

{% block extra_seo %}
{{ block.super }}
<meta property="article:published_time" content="{{ post.pub_time }}">
<meta property="og:description" content="{{ post.desc }}">
<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ post.thumb.url }}">
{% endblock extra_seo %}

{% block body %}
{% include "partials/post_header.html" %}
<div class="post_body">
    {% include "partials/thumbnail.html" with url=post.thumb.url nt=True %}
    {{ post.body|render_md }}
</div>
{% if form and post.comments.count != 0 %}
    <div id="comments" class="comment_container">
        {% for comment in post.comments.all %}
            {% if not comment.parent %}
                {% include "partials/comment.html" %}
                {% for comment in comment.child.all %}
                    {% include "partials/comment.html" %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% elif form and post.comments.count == 0 %}
    <div id="comments" class="comment_container">
        <h2 class="no_comment">{% trans "There is no comment yet. Wanna be the first?" %}</h2>
    </div>
{% endif %}
{% if form %}
    {% include "partials/comment_form.html" %}
{% endif %}
{% endblock body %}

{% block js %}
{{ block.super }}
{% if form %}
    <script src="{% static "comment.js" %}"></script>
{% endif %}
{% endblock js %}
