{% extends 'base.html' %}

{% load markdown_tags %}
{% load i18n %}

{% block title %}
{% if q %}
    #{{ q }} | 
{% endif %}
{{ block.super }}
{% endblock title %}

{% block extra_header %}
{% if q %}
    <h3>
        {% blocktrans with q=q %}Results for keyword "{{ q }}"{% endblocktrans %}
    </h3>
{% endif %}
{% endblock extra_header %}

{% block body %}
{% for post in post_list %}
    {% include "partials/post_header.html" %}
    <div class="post_body">
        {% include "partials/thumbnail.html" with url=post.get_absolute_url %}
        {{ post.desc|render_md }}
        <h4>
            <a href="{{ post.get_absolute_url }}">
                {% trans "Read More" %}
            </a>
        </h4>
    </div>
{% endfor %}
{% if page_obj.has_previous or page_obj.has_next %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="right" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
        {% endif %}
    </div>
{% endif %}
{% endblock body %}
